button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

button:hover {
  background-color: darkgray;
  /* Green */
  color: white;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.center-screen{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#trial-button {
  margin-top: 2cm;
}

.image-container {
  display: none;
}

.progress-bar {
  height: 10px;
  width: 100%;
  background-color: #f2f2f2;
}

.progress {
  height: 100%;
  background-color: #012169;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  font-weight: lighter;
  border: 3px solid black;
}

.example-svg{
  text-align: center;
}

li {
  margin-bottom: 10px;
}